.coluna {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: auto;
}
.bemvindo {
  left: 50%;
  font-weight: 500;
  font-size: 24px;
  line-height: 29.04px;
  text-align: center;
  position: absolute;
  transform: translate(-50%);
  @media screen and (max-width:430px){
    position: static;
    transform: none;
    line-height: 19.36px;
    font-size: 16px ;
  }
}
.data {
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54);
  line-height: 19.36px;
}

.main{
  margin-top: 24px;
}
.headerConteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media screen and (max-width:430px){
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
  }
}
.headerContainer {
  justify-content: center;
  padding-bottom: 24px;
  box-shadow: 0px 1px rgba(215, 221, 233, 1);
  margin-right: 56px;
  margin-left: 56px;
  position: relative;
  @media screen and (max-width:430px){
    margin-right: 24px;
    margin-left: 24px;
  }

}

.conteudoCentral {
  margin-top: 40px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 450px;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 40px;
  @media screen and (max-width:430px) {
    margin-top: 24px;
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.tarefasContainer {
  box-shadow: 0px 0px 1px 1px rgba(234, 236, 240, 1);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text {
    line-height: 19.36px;
    align-self: center;
    color: rgba(0, 0, 0, 0.54);
  }
}

.tarefasLista{
  display: flex;
  flex-direction: column;
  gap:24px;
  @media screen and (max-width:430px) {
    gap:8px
  }
}

.tarefaBorda {
  outline: 1px dashed rgba(215, 221, 233, 1);
  border-radius: 8px;
  padding: 16px;
  @media screen and (max-width:430px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.tarefaBorda:hover {
  background-color: rgba(247, 249, 253, 1);
  cursor: pointer;
  .checkmark {
    background-color: rgba(217, 217, 217, 1);
    border: 1px solid rgba(176, 187, 209, 1);
  }
}

.checkbox {
  box-sizing: border-box;
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 24px;
  flex-shrink: 0;
  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  position: absolute;
  border: 1px solid rgba(215, 221, 233, 1);
  left: 0;
  top: 0;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: rgba(160, 220, 246, 1);
  border: 1px solid rgba(7, 150, 211, 1);
  background-image: url("Icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark::after {
  display: block;
}

.nomeTarefaHoje {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  overflow:hidden;
}

.nomeTarefaFinalizada {
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
  font-size: 16px;
  overflow:hidden;
}

.botaoAdicionar {
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  text-align: center;
  vertical-align: middle;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(
    90deg,
    rgba(7, 150, 211, 1) 0%,
    rgba(83, 192, 240, 1) 100%
  );
  cursor: pointer;
  line-height: 19.36px;
  letter-spacing: -0.02em;
  text-decoration: none;
}
.botao:hover {
  outline: 1px solid rgb(3, 13, 34);
}

.tarefaConteudo {
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  display: flex;
  gap: 16px;
  flex-shrink: 0;
  label {
    cursor: pointer;
  }
}

.excluir {
  box-sizing: border-box;
  padding: 0;
  width: 24px;
  height: 24px;
  justify-content: center;
  background: none;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}

.modal {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  width: 450px;
  flex-direction: column;
  z-index: 2;
  box-shadow: 0px 24px 48px -12px rgba(22, 91, 230, 0.18);
  top: 250px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  padding: 32px;
  gap: 32px;
  border-radius: 16px;
  backdrop-filter: blur(48px);
    @media screen and (max-width:430px) {
      width: 100%;
      position: fixed;
      height: 100vh;
      top:0;
      overflow: hidden;
      scrollbar-width: none;
      padding: 24px;
      }
    
  .botoesModal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 16px;
      @media screen and (max-width:430px){
        flex-direction: column-reverse;
  
      }
    .cancelar {
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      border: none;
      text-align: center;
      vertical-align: middle;
      padding-top: 16px;
      line-height: 19.36px;
      letter-spacing: -0.02em;
      padding-bottom: 16px;
      background: rgba(231, 238, 251, 1);
      color: black;
      cursor: pointer;
      line-height: 19.36px;
      letter-spacing: -0.02em;
      text-decoration: none;
    }
    .apagar {
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      border: none;
      text-align: center;
      vertical-align: middle;
      padding-top: 16px;
      padding-bottom: 16px;
      background: linear-gradient(90deg, #d30707 0%, #f05353 68.65%);
      cursor: pointer;
      line-height: 19.36px;
      letter-spacing: -0.02em;
      text-decoration: none;
    }
  }
  text {
    font-size: 24px;
    line-height: 29.04px;
    font-weight: 500;
  }
}

.blur {
  position: fixed;
  background: none;
  height: 100%;
  top: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  z-index: 1;
  margin: auto;
  @media screen and (max-width:430px) {
    position: relative;
    height: 0;
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: -0.02em;
  }
  input {
    padding: 16px;
    border: 1px solid rgba(215, 221, 233, 1);
    border-radius: 8px;
  }
}

.label {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.54);
}

.modalApagar{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 276px;
    flex-direction: column;
    z-index: 2;
    box-shadow: 0px 24px 48px -12px rgba(22, 91, 230, 0.18);
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 32px;
    gap: 32px;
    border-radius: 16px;
    backdrop-filter: blur(48px);}
